@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'roboto' , sans-serif;
    font-size: 16px;
    font-weight: normal; 
    background: #f1f1f1;
    color: #0f141e;
}
.avatar {
    width: 250px;
    border-radius: 40px;
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 50);
    
}
.info-text h1 {
    color: blue;
    font-style:  italic;
    font-size: 30px;
    text-align: center;
    
}
.info-text p {
padding: 5px;
}
.info-text  {
    font-style: italic;
    font-size: 18px;
    color: black;
   
}
.card h2 , h3 , h4 , h5{
    color: blue;
    font-style:  italic;
    font-size: 30px;
    
}

.card {
    padding:  0 20px;
    background: blanchedalmond ;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid black;

}
.card2 {
    padding:  0 20px;
    background: blanchedalmond ;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}
.card3 {
    padding:  0 20px;
    background: blanchedalmond ;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
}


.card h2 {
    text-align: center;
}
h3 , h4 , h5 {
    text-align: center;
}
.list {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.list {
    padding:0 20px;  
   

  }
  .list li {
      margin-bottom: 15px;
  }


.hr-line{
    border-top: 1px solid black;
}

@media  (max-width: 650px) {
.info , .card , .card2 , .card3{
    display: block;
    text-align: center;
}

}




.table {
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 100%;
    padding: 7px;
}
.table2 {
    font-style: italic;
    font-size: 18px;
    width: 100%;
   
}
.table2 td  {
    padding-top: 10px;
    
}
.table td  {
    padding-top: 10px;
}
.container {
   max-width: 750px; 
   margin: auto;
}